# python
__pycache__/
*.pyc
.nfs*

# environments
.env
.venv
conda-env/

# nonlinear deblur files
bkse/

# datasets
exp/datasets/

# checkpoints
exp/logs/
*.pt
*.ckpt

# ignore generated sample images
exp/image_samples/